<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WiKids | @ViewData["Title"]</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main.css" />

</head>
<body class="bg-white">
    @{ if(@ViewBag.hasHeader == true) {
            @Html.Partial("./partials/_Header")
            <div class="m-2 p-2"></div>
        }
    }
    <div id="content" class="content">
        @{ if(@ViewBag.hasSidebar == true) {
            <aside id="mainSide" class="bg-secondary d-print-none">
                @Html.Partial("./partials/_Sidebar")
            </aside>
            }
        }
        <main id="main" class="mt-4">
            @RenderBody()

            @{ if(@ViewBag.hasFooter == true) {
                <footer id="fmain">
                    @Html.Partial("./partials/_Footer")
                </footer>
                }
            }

        </main>
    </div>
    <!-- <script src="~/js/site.min.js" asp-append-version="true"></script> -->
</body>
</html>
